{% extends "base.html" %}


{% block title%} Login Page {% endblock %}

{% block content %}
<div class="container mt-5">
   
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <form class='col-6 mx-auto card p-3 shadow-lg' method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Register User</h1>
        <hr>
        <div class="mb-3">
          <label for="recipe_name">First Name</label>
          <input type="text" class="form-control" Required id="first_name" name='first_name' placeholder="Enter first name.....">
        </div>
        <div class="mb-3">
            <label for="recipe_name">Last Name</label>
            <input type="text" class="form-control" Required id="last_name" name='last_name' placeholder="Enter last name.....">
          </div>
          <div class="mb-3">
            <label for="recipe_name">User Name</label>
            <input type="text" class="form-control" Required name='user_name' placeholder="Enter user name.....">
          </div>
        <div class="mb-3">
          <label for="recipe_description">Password</label>
          <input type="password" class="form-control" Required name='password' placeholder="Enter password.....">
        </div>
        <div class="mb-3">
            <label for="recipe_description">Confirm Password</label>
            <input type="password" class="form-control" Required name='c_password' placeholder="Confirm password.....">
          </div>
        <p>Already have account ?? <a href="/login/">Login</a></p>
        <button type="submit" class="btn btn-success">Register User</button>
    </form>
</div>
{% endblock %}